<div class="container search-form">
    <form method="GET" action="/news">
  <div class="form-group">
    <label for="search-input">tu khoa</label>
    <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="nhap tu khoa">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  
  <button type="submit" class="btn btn-primary">Timf Kieems</button>
</form>
</div>